{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Usuario {% endblock %}
{% block tituloPrincipal %} Usuario {% endblock %}
{% block mensaje    %}
    {% if exito %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{exito}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endblock %}
{% block contenido  %}
    <form action="{#% url 'guardarEscuela' %#}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <table>
                    {{form.as_table}}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 offset-md-3">Opciones</div>
            <div class="col-12 col-md-5">
                <input type="submit" name="btnGuardar" class="btn btn-danger" value="Guardar">
                <input type="submit" name="btnLimpiar" class="btn btn-outline-secondary" value="Limpiar">
                <a href="{% url 'listarEscuela' %}" class="btn btn-success">Listar</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block listado    %}
{% endblock %}

{# agregar clases de bootstrap al formulario #}