{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Listado de Escuela {% endblock %}
{% block tituloPrincipal %} Escuela {% endblock %}
{% block mensaje    %}
{% endblock %}
{% block contenido  %}
    <a href="{% url 'ingresarEscuela' %}" class="btn btn-primary">Ingresar</a>
    <br><br>
{% endblock %}
{% block listado    %}
    <table class="table table-responsive table-striped">
        <tr>
            <th>Nombre</th>
            <th>Activo</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    {% for item in listado  %}
        <tr>
            <td>{{ item.nombre| capfirst }}</td>
            <td>{{ item.activo|yesno:"Si,No" }}</td>
            <td><a href="#" class="btn btn-warning">Modificar</a></td>
            <td><a href="{% url 'eliminarEscuela' pk=item.id %}" class="btn btn-danger">Eliminar</a></td>
    {% endfor %}
    </table>
{% endblock %}