{% extends "plantillaBase.html"  %}
{% block tituloPestana %} Listado de carrera {% endblock %}
{% block tituloPrincipal %} Carrera {% endblock %}
{% block mensaje    %}
{% endblock %}
{% block contenido  %}
<a href="{% url 'ingresarCarrera' %}" class="btn btn-primary">Ingresar</a>
<br><br>
{% endblock %}
{% block listado    %}
    <table class="table table-responsive table-striped">
        <tr>
            <th>Escuela</th>
            <th>Nombre</th>
            <th>Versión</th>
            <th>Activo</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    {% for item in listado  %}
        <tr>
            <td>{{ item.escuela.nombre| title }}</td>
            <td>{{ item.nombre| capfirst }}</td>
            <td>{{ item.version }}</td>
            <td>{{ item.activo|yesno:"Si,No" }}</td>
            <td><a href="#" class="btn btn-warning">Modificar</a></td>
            <td><a href="#" class="btn btn-danger">Eliminar</a></td>
    {% endfor %}
    </table>
{% endblock %}